.headline {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
    font-size: 30px;
}

.headline::before,
.headline::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #000000;
}

.headline::before {
	margin-right: 20px;
}
.headline::after {
	margin-left: 20px;
}


a{
    text-decoration: none;
    color: #000000;
    font-size: large;
}
a:hover{
    color: #000000;
}


.submit{
    font-size: 25px;
}

label{
    font-size: 20px;
}

.content{
	display: flex;
    justify-content: space-between;
}



/* aタグ　ボタン */
.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    backface-visibility: hidden;
    border: 0.2rem solid transparent;
    border-radius: 3rem;
  }
  
  .bn36 {
    border-color: #000000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
  .bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }




  img{
    width: 8%;
    margin: auto;
}

.homeicon{
    display: flex;
}


.id{
    display: inline;
    padding: 2%;
}
.name{
    display: inline;
    padding: 2%;
}
.name_sub{
    display: inline;
    padding: 2%;
}


label{
    padding: 2%;
}

.container{
    margin-top: 8%;
}




html,body{
    overflow: hidden;
}
header{
    margin-bottom: 80px;
}

.tbl{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}
.tbl .id{
    width: 15%;
    height: 100%;
}
.tbl .name{
    width: 15%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.5);
}
.tbl .name_sub{
    width: 15%;
    height: 100%;
}
.tbl .input-item{
    width: 55%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.5);

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.student-container{
    width: 100%;
    margin-bottom: 30px;
}
hr {
    padding: 0;
    margin: 0;   
}

