.content2{
    display: flex;
    justify-content: space-between;
}



a{
    text-decoration: none;
    color: #000000;
    font-size: large;
}
a:hover{
    color: #000000;
}

.submit{
    font-size: 25px;
}

label{
    font-size: 20px;
}


/* aタグ　ボタン */
.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    backface-visibility: hidden;
    border: 0.2rem solid transparent;
    border-radius: 3rem;
  }
  
  .bn36 {
    border-color: #000000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
  .bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }




    /* h1見出し */

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-align: center;
    font-size: 30px;

  }
  
  .headline::before,
  .headline::after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #000000;
  }
  
  .headline::before {
    margin-right: 20px;
  }
  .headline::after {
    margin-left: 20px;
  }
  
.container{
  margin-top: 4%;
}


img{
  width: 8%;
  margin: auto;
}

.homeicon{
  display: flex;
}