a{
    text-decoration: none;
    color: #000000;
    font-size: 100%;
  }
a:hover{
    color: #000000;
  }



img{
  width: 8%;
  margin: auto;
}

img.img_student{
  width: 100%;
}

img.graph { 
  width:100%;
  display: flex;

}
.homeicon{
    display: flex;
}


.headline {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	text-align: center;;
  /* padding-bottom: 4%; */
}

.headline::before,
.headline::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #000000;
}

.headline::before {
	margin-right: 20px;
}
.headline::after {
	margin-left: 20px;
}

.content2{
  display: flex;
  justify-content: space-between;
}

.submit{
  font-size: 25px;
}





.st{
  padding-left:5% ;
  display: flex;
  justify-content: center;
}

.content{
  margin-top: 6%;
}




.dropdowns{
  justify-content: center;
  padding-left: 13%;
}


.detail{
  padding-right: 25%;
}

h2{
  font-size: 90%;
}

.param{
  padding-top: 10%;
  /* font-size: large; */
  font-weight: bold;
}