

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: Helvetica;
-webkit-font-smoothing: antialiased;
background: rgb(250, 250, 250);
}
table .h2{
text-align: center;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 1px;
color: white;
padding: 30px 0;
}

/* Table Styles */

table{
margin: 10px 70px 70px 0px;
box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

table {
border-radius: 5px;
font-size: 12px;
font-weight: normal;
border: none;
border-collapse: collapse;
width: 100%;
max-width: 100%;
white-space: nowrap;
background-color: white;
}

table td, table th {
text-align: center;
padding: 8px;
}

table td {
border-right: 1px solid #f8f8f8;
font-size: 12px;
}

table th {
color: #ffffff;
background: #5b5b5b;
}


table th:nth-child(odd) {
color: #ffffff;
background: rgb(112, 112, 112);
}

table tr:nth-child(even) {
background: #eeeded;
}
table a:hover {
    background-color: #5b5b5b;
    border-radius: 5px;
}


@media (max-width: 767px) {
table {
    display: block;
    width: 100%;
}
.table-wrapper:before{
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
}
table, table, table th {
    display: block;
}
table th:last-child{
    border-bottom: none;
}
table {
    float: left;
}
table {
    width: auto;
    overflow-x: auto;
}
table td, table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
}
table th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
}
table tr {
    display: table-cell;
}
table tr:nth-child(odd) {
    background: none;
}
table tr:nth-child(even) {
    background: transparent;
}
table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
}
table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
}
table td {
    display: block;
    text-align: center;
}
}
dialog {
    display: block; 
}

dialog:not(:target):not([opens]) { 
   display: none; 
}
/* textarea {
    width: 250px;
    max-width: 470px;
    height: 90px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  } */






.text{
    margin: 150px 0;
}

.text-center{
    text-align: center;
    size: 100px;
}


/* FontAwesome ----------------------------------------------------- */
p i{
    color:#66ff66;
    
}



.flex{
    display: flex;
    justify-content: center;
}
.btn{
    width: 200px;
    margin: 20px;
    color: white;
    background-color:deepskyblue;
}



header{
    padding-left: 12px;
    padding-right: 12px;
    background-color: #b9d9ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    line-height: 100px;
  }
  h2{
    /* padding-top: 9px; */
    display: contents;
  }
  img{
    /* width: 15px;
    object-fit: contain; */
  }
  a{
    margin: 0;
    text-decoration: none;
    color: black;
    /* line-height: 100px; */
  }
  .submit{
    /* margin-top: 10px; */
    font-size: 25px;
    
  }
  .thumbnail{
    /* padding-top: 10px; */
    width: 100px;
    
  }
  img{
    padding-top: 22px;
    width: 250px;
    /* margin: auto; */
  
  }




/* LINE006 */
.button_line006  {
    text-align: center;
    position: relative;
    display: block;
    justify-content: space-around;
    /* align-items: center; */
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    
}
.button_line006 a:before,
.button_line006 a:after {
  position: absolute;
  width: 100%;
  height: 3px;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #000;
}

.button_line006 a:before {
  top: 0;
  left: 0;
}

.button_line006 a:after {
  right: 0;
  bottom: 0;
}

.button_line006 a:hover:before,
.button_line006 a:hover:after {
  width: 0;
}


.button_line006{
    margin: 50px;
    width: 250px;
    font-size: large;
}


/* aタグ */
a{
    display: block;
    text-decoration: none;
    color:inherit;
}
a:hover{
    color: #000000;
}

/* 保存ボタン */
.button_ctt button{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* 戻るボタン */
.back{
    font-size: 120%;
}



.headline {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
    font-size: xx-large;
}

.headline::before,
.headline::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #000000;
}

.headline::before {
	margin-right: 20px;
}
.headline::after {
	margin-left: 20px;
}






/* tooltip --------------------------------------------------------- */
.tooltip { /* 補足説明するテキストのスタイル */
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    font-size: 3em;
    font-weight:800;
    color: #ff4646;
    }
    .description_top { /* ツールチップのスタイル */
    width: 200px; /* 横幅 */
    position: absolute;
    left: 50%;
    bottom: 80%; /* Y軸の位置 */
    transform: translateX(-50%);
    margin-bottom: 8px; /* テキストとの距離 */
    padding: 8px;
    border-radius: 10px; /* 角の丸み */
    background-color: #666;
    font-size: 0.7em;
    color: #fff;
    text-align: center;
    visibility: hidden; /* ツールチップを非表示に */
    opacity: 0; /* 不透明度を0％に */
    z-index: 1;
    transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
    }
    .tooltip:hover .description_top { /* マウスオーバー時のスタイル */
    bottom: 100%; /* Y軸の位置 */
    visibility: visible; /* ツールチップを表示 */
    opacity: 1; /* 不透明度を100％に */
    }



/* FontAwesome ----------------------------------------------------- */
p i{
    color:#66ff66;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    margin: 150px 0;
}
.text-center{
    text-align: center;
    size: 100px;
}


.submit{
    font-size: 25px;
}


.contenta{
    display: flex;
    justify-content: space-between;
}



/* aタグ　ボタン */
.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    backface-visibility: hidden;
    border: 0.2rem solid transparent;
    border-radius: 3rem;
    margin-bottom: 2%;
  }
  
  .bn36 {
    display: flex;
    width: 97px;
    margin: 0 auto;
    border-color: #000000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
  .bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }


  /* homeアイコン */


/* img{
    width: 8%;
    margin: auto;
} */

.homeicon{
    display: flex;
}




h3{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}


.content{
    margin-top: 6%;
}
body{
    color: #6877db;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 35px;
    color: #6877db;
    background-color: #b9d9ff;
  }
  header h2{
    font-size: 30px;
    /* padding: 10px 0 0; */
  }
  .subtitle_h2{
    justify-content: center;
    font-size: 34px;
  }
  .bn36,a .bn3637 .bn3637 a:hover{
    border-color: #6877db;
    color: #6877db;
  }
  .bn36{
    width: 300px;
    margin: 100px auto 50px;
    border: 5px solid #b9d9ff;
  }
  .content{
    width: 1296px;
    border: 6px solid #b9d9ff;
    border-radius: 50px;
    margin: 137px auto;
    padding: 145px 0;
  }
  form input{
    border-color: red;
  }
  .container{
    margin: 50px auto;
  }
  footer{
    text-align: center;
    padding: 10px 0 1px;
    font-weight:500;
    background-color: #b9d9ff;
  }