a{
    text-decoration: none;
    color: #000000;
    font-size: large;
}
a:hover{
    color: #000000;
}

.log{
    display: flex;
    justify-content: space-between;
}



/* LINE006 */
.button_line006  {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    white-space: nowrap;

    
}
.button_line006 a:before,
.button_line006 a:after {
  position: absolute;
  width: 100%;
  height: 3px;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #000;
}

.button_line006 a:before {
  top: 0;
  left: 0;
}

.button_line006 a:after {
  right: 0;
  bottom: 0;
}

.button_line006 a:hover:before,
.button_line006 a:hover:after {
  width: 0;
}


.button_line006{
    margin: 50px;
    width: 250px;
    font-size: large;
}


.content{
    display: flex;
    justify-content: center;
}
.content2{
    display: flex;
    justify-content: space-between;
}

.submit{
    font-size: 25px;
}



/* h1見出し */

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 2%;
}

.headline::before,
.headline::after {
  content: '';
  width: 70px;
  height: 3px;
  background-color: #000000;
}

.headline::before {
  margin-right: 20px;
}
.headline::after {
  margin-left: 20px;
}



/* aタグ　ボタン */
.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  backface-visibility: hidden;
  border: 0.2rem solid transparent;
  border-radius: 3rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.bn36 {
  display:flex ;
  width: 110px;
  margin: 0 auto;
  border-color: #000000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

h4{
  text-align: center;
  padding-bottom: 40px;
  padding-top: 10px;
}


img{
  /* width: 8%;
  margin: auto; */
}

.homeicon{
  display: flex;
}


.container{
  margin-top: 8%;
}

.form-select{
  margin-bottom: 3%;
}


header{
  padding-left: 12px;
  padding-right: 15px;
  background-color: #b9d9ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  line-height: 100px;
}
h2{
  /* padding-top: 9px; */
  display: contents;
}
img{
  /* width: 15px;
  object-fit: contain; */
}
a{
  margin: 0;
  text-decoration: none;
  color: black;
  /* line-height: 100px; */
}
.submit{
  /* margin-top: 10px; */
  font-size: 25px;
  padding-right: 26px;
  
}
.thumbnail{
  /* padding-top: 10px; */
  width: 100px;
  
}
img{
  padding-top: 22px;
  width: 250px;
  /* margin: auto; */

}
body{
  color: #6877db;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 35px;
  color: #6877db;
  background-color: #b9d9ff;
}
header h2{
  font-size: 30px;
  /* padding: 10px 0 0; */
}
.subtitle_h2{
  justify-content: center;
  font-size: 34px;
}
.bn36,a .bn3637 .bn3637 a:hover{
  border-color: #6877db;
  color: #6877db;
}
.bn36{
  width: 300px;
  margin: 100px auto 50px;
  border: 5px solid #b9d9ff;
}
.content{
  width: 1296px;
  border: 6px solid #b9d9ff;
  border-radius: 50px;
  margin: 137px auto;
  padding: 145px 0;
}
form input{
  border-color: red;
}
.container{
  margin: 50px auto;
}
footer{
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  text-align: center;
  padding: 10px 0 1px;
  font-weight:500;
  background-color: #b9d9ff;
}